.container {
  display: flex;
  width: 100%;
  height: auto;

  &_row {
    flex-direction: row;
  }

  &_justify-between {
    justify-content: space-between;
  }

  &_items-baseline {
    align-items: baseline;
  }

  &_wrap {
    flex-wrap: wrap;
  }
}
