@import '../variables';

.indicator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 6px;
  border-radius: $rounded-sm;
  background: $secondary-color;
  cursor: pointer;

  &:hover {
    .indicator__item {
      opacity: .08;
    }
  }

  &__item {
    min-width: 8px;
    height: 100%;
    transition: .4s ease-in-out;
    position: relative;

    &:first-of-type {
      border-radius: $rounded-sm 0 0 $rounded-sm;
    }

    &:last-of-type {
      border-radius: 0 $rounded-sm $rounded-sm 0;
    }

    &:hover {
      opacity: 1 !important;

      .hint {
        display: flex;
      }
    }
  }
}
