@import './variables';

.bg {
  &_error {
    background: $error-color;
  }

  &_warning {
    background: $warning-color;
  }

  &_success {
    background: $success-color;
  }

  &_default {
    background: #969696;
  }
}

.text {
  &_error {
    color: $error-color;
  }

  &_warning {
    color: $warning-color;
  }

  &_success {
    color: $success-color;
  }

  &_default {
    color: #969696;
  }
}
